html {
	scroll-behavior: smooth;
}

body {
	font-family: "Outfit", sans-serif;
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
}

h1 {
	text-align: center;
}

#root {
	position: relative;
	padding-top: 85px;
	padding-bottom: 50px;
	min-height: 180px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;
}

header .progress {
	background-color: #fdc500;
}

header .progress .bar {
	background-color: #00296b;
	height: 5px;
	transition: width 0.3s ease-in-out;
}

header .nav-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .nav-inner .logo-wrapper {
	height: 45px;
	color: #222;
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	text-decoration: none;
}

header .nav-inner .contact-btn {
	height: 45px;
	background-color: #fdc500;
	border-radius: 10px;
	padding: 0 20px;
	line-height: 45px;
	text-decoration: none;
	color: #000;
	transition: 0.3s;
}

header .nav-inner .contact-btn:hover {
	color: #fff;
	background-color: #00296b;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 15px;
}

.row {
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
}

.sticky {
	position: sticky;
	top: 100px;
}

.App {
	font-size: 20px;
	line-height: 1.3;
}

.App .typing-effect {
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
}

.App .message-wrapper {
	margin: 1.5rem 0;
	display: flex;
}

.App .message-wrapper.buttonGroup {
	flex-wrap: wrap;
	gap: 15px;
}

.App .message-wrapper.buttonGroup .button-wrapper {
	width: 100%;
	flex: 0 0 100%;
	display: flex;
}

.App .message-wrapper .user-message {
	width: 100%;
	display: flex;
}

.App .message-wrapper .user-message .user {
	background-color: #00296b;
	color: #fff;
	box-shadow: none;
}

.App .message-wrapper .user-message button {
	background-color: transparent;
	box-shadow: none;
	padding-right: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.App form {
	width: 100%;
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.App .inherit-btn {
	color: #00296b;
	color: #00296b;
	padding: 0;
	background: transparent;
	box-shadow: none;
}

.App form input {
	padding: 0.75rem 1rem;
	border: #000 1px solid;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 6px 6px 0 0 #000;
	transition: 0.3s;
}

.App form input:focus {
	box-shadow: 0 0 0 0 #000;
}

.App p {
	background-color: #fff;
	max-width: 60%;
	padding: 0.75rem 1rem;
	margin: 0;
	border: #000 1px solid;
	border-radius: 10px;
	box-shadow: 6px 6px 0 0 #000;
}
.App .user-message .user,
.App button {
	font-size: 20px;
	padding: 0.75rem 1rem;
	border: 0;
	border-radius: 10px;
	box-shadow: 6px 6px 0 0 #000;
	background-color: #fdc500;
	transition: 0.3s;
}

.App button {
	cursor: pointer;
}

.App button:disabled {
	box-shadow: 0 0 0 0 #000;
	cursor: not-allowed;
}

.App button:hover {
	box-shadow: 0 0 0 0 #000;
}

.App .bot {
	margin-right: auto;
}

.App .user {
	margin-left: auto;
	max-width: 60%;
}

.App .user.inserted-data {
	background-color: #00296b;
	color: #fff;
}

@media (min-width: 768px) {
	.col-md-6 {
		width: 100%;
		max-width: calc(50% - 50px);
	}
}

@media (max-width: 767px) {
	.App form {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.d-md-none {
		display: none;
	}
}
